In [1]:
import pandas as pd
import numpy as np

# Step 1: have a whole view of data
According the view, we will decide what to do next.

In [2]:
df = pd.read_csv('train.csv', encoding = "ISO-8859-1")
print(df.head())
print(df.tail())

   id  qid1  qid2                                          question1  \
0   0     1     2  What is the step by step guide to invest in sh...
1   1     3     4  What is the story of Kohinoor (Koh-i-Noor) Dia...
2   2     5     6  How can I increase the speed of my internet co...
3   3     7     8  Why am I mentally very lonely? How can I solve...
4   4     9    10  Which one dissolve in water quikly sugar, salt...

                                           question2  is_duplicate
0  What is the step by step guide to invest in sh...             0
1  What would happen if the Indian government sto...             0
2  How can Internet speed be increased by hacking...             0
3  Find the remainder when [math]23^{24}[/math] i...             0
4            Which fish would survive in salt water?             0
            id    qid1    qid2  \
404285  404285  433578  379845
404286  404286   18840  155606
404287  404287  537928  537929
404288  404288  537930  537931
404289  404289  537932  537933

                                                question1  \
404285  How many keywords are there in the Racket prog...
404286          Do you believe there is life after death?
404287                                  What is one coin?
404288  What is the approx annual cost of living while...
404289              What is like to have sex with cousin?

                                                question2  is_duplicate
404285  How many keywords are there in PERL Programmin...             0
404286         Is it true that there is life after death?             1
404287                                  What's this coin?             0
404288  I am having little hairfall problem but I want...             0
404289      What is it like to have sex with your cousin?             0

# Step 2: Choose a meaningful and unique index
According to the view above, we guess the 'id' column may be unique, and it can be used as index.

In [3]:
df['id'].is_unique

True

In [4]:
df.set_index('id', inplace = True)

# Step 3: Deal with missing data
* First, figure it out which columns have missing data 
* Second, decide what to do with the missing data accordingly.

In [5]:
print(df.isnull().any())
df[df.isnull().values==True]

qid1            False
qid2            False
question1        True
question2        True
is_duplicate    False
dtype: bool

,qid1,qid2,question1,question2,is_duplicate
id,,,,,
105780,174363,174364,How can I develop android app?,NaN,0
201841,303951,174364,How can I create an Android app?,NaN,0
363362,493340,493341,NaN,My Chinese name is Haichao Yu. What English na...,0

Luckily, there are only three rows with missing data, so we can just drop them.

In [6]:
df = df.dropna()

# Step 4:Deal with wrong values
In this case, 'is_duplicate' column can only take the value '0' or '1'. We can count the occurences of each value first.

In [7]:
df['is_duplicate'].value_counts()

0    255024
1    149263
Name: is_duplicate, dtype: int64

Luckily, there are no wrong values for 'is_duplicate' column

# Step 5: Remove whitespaces and '\n' of strings.

In [8]:
df['question1'].str.strip()
df['question2'].str.strip()

id
0         What is the step by step guide to invest in sh...
1         What would happen if the Indian government sto...
2         How can Internet speed be increased by hacking...
3         Find the remainder when [math]23^{24}[/math] i...
4                   Which fish would survive in salt water?
5         I'm a triple Capricorn (Sun, Moon and ascendan...
6         What keeps childern active and far from phone ...
7                 What should I do to be a great geologist?
8                     When do you use "&" instead of "and"?
9         How do I hack Motorola DCX3400 for free internet?
10        What are some of the things technicians can te...
11                   How can I see all my Youtube comments?
12                  How can you make physics easy to learn?
13                   What was your first sexual experience?
14        What are the laws to change your status from a...
15        How will a Trump presidency affect the student...
16                            What does manipulation means?
17                 How do guys feel after rejecting a girl?
18        Why do people ask Quora questions which can be...
19        Which is the best digital marketing institute ...
20              Why are rockets and boosters painted white?
21         What can I do to avoid being jealous of someone?
22                    Which question should I ask on Quora?
23        Where can I find a conversion chart for CC to ...
24        How many times a day do a clockâs hands over...
25        What are some tips on making it through the jo...
26                   What is the web application framework?
27                 How do sports contribute to the society?
28                What is best way to ask for money online?
29        How one should know that he/she completely pre...
                                ...
404260             What is the best phone to buy below 15k?
404261    Who is the most popular character in the Game ...
404262                     How do I reset a Toshiba laptop?
404263    Why does CO2 contribute more to global warming...
404264           How do I make a safe and cheap power bank?
404265                    What should I eat to gain weight?
404266    My boyfriend says he deleted his Facebook Mess...
404267    What were the most important causes and effect...
404268         Should I raise my young child on 80's music?
404269    What Does It Feel Like to have antisocial pers...
404270        What is the difference between "&" and "and"?
404271    What was Joseph Stalin's 5 year plan? How did ...
404272    What are some mind-blowing vehicles tools that...
404273    What would happen if I put milk instead of wat...
404274    What kind of parents will the next generation ...
404275    What is a utilities expense in accounting? How...
404276                             What is ContenVania.com?
404277                     What are analytical people like?
404278    How did you prepare for the AIIMS UG entrance ...
404279    What is a cheaper and quicker way to build an ...
404280    What are some outfit ideas wear to a frat them...
404281    Why is Manaphy annoying in Pokemon ranger and ...
404282      How are long distance relationships maintained?
404283    What will the CPU upgrade to the 2016 Apple Ma...
404284    What does Jainism say about Gays and Homosexua...
404285    How many keywords are there in PERL Programmin...
404286           Is it true that there is life after death?
404287                                    What's this coin?
404288    I am having little hairfall problem but I want...
404289        What is it like to have sex with your cousin?
Name: question2, Length: 404287, dtype: object

# Stpe 6: more specific cleaning 
Observing that 'qid1' column and 'qid2' column are comparable, and they are realted to each other closely. We can adjust the data to make it possible that qid1 is always smaller than qid2 for each row.

In [9]:
print(len(df[df['qid1'] > df['qid2']]))
print(len(df[df['qid1'] < df['qid2']]))
# help(df.iterrows)
df1 = df[df['qid1'] < df['qid2']].copy()
df2 = df.loc[df['qid1'] > df['qid2']].copy()
c1,c2,c3,c4= df2['qid1'].copy(),df2['qid2'].copy(),df2['question1'].copy(),df2['question2'].copy()
c2 = df2['qid2'].copy()
df2['qid1'],df2['qid2'],df2['question1'],df2['question2'] = c2, c1,c4, c3
df3 = pd.concat([df1,df2])
print(len(df3[df3['qid1'] > df3['qid2']]))
print(len(df3[df3['qid1'] < df3['qid2']]))
print(df3.set_index(['qid1','qid2']).index.is_unique)
df = df3

88201
316086
0
404287
True

In [10]:
df.to_csv('cleaned_data.csv')